.main{
    width: 1360px;
    height: 620px;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}
*{
    margin: 0;
    padding: 0;
}
.center{
    background-color: white;

}
h1{
    text-align: center;
}

#input1{
        width: 300px;
        height: 20px;
        margin-top: 40px;
}
button{
    width: 80px;
    height: 25px;
    border-radius: 5px;
    cursor: pointer;
    background-color: lightblue;
}
button:hover{
    background-color: white;
    color:blueviolet;
}
/* #result{
    border: 1px solid black;
    width: 400px;
    height: 30px;
    margin-top: 20px;
    background-color: white;
} */
.list1{
    margin-left: 220px;
    margin-top: 10px;
}
.list2{
    list-style-type: none;
    margin-top: 10px
}
.list3{
    margin-left: 10px;
}
.list4{
    margin-left: 10px;
}
.abc{
    text-decoration:overline;
}